<!DOCTYPE html>
<html>
<head>
    <title>Smart Toilet</title>
    <link rel="stylesheet" href="synoptic.css"> <!-- links CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src = "synoptic.js"defer></script> 
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Smart Toilet</h1> <!-- title -->
            <a><i class="fa fa-bars" id="burger"></i></a> <!-- burger icon when tab is small -->
            </header>
            <nav class = "navBar">
                <ul class="showNav">
                    <li><a href="index.html">Home</a></li>
                    <li> <a href="#" onclick="document.getElementById('signupModal').style.display='block'">Sign Up</a></li>
                    <li><a href="#" onclick="document.getElementById('login').style.display='block'">Login</a></li>

                </ul>
            </nav>
        <!-- Login Modal -->
        <div id="login" class="modal">
            <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
            <form class="modal-content animate" onsubmit="return loginRedirect(event)">
                <div class="imgcontainer">
                    <img src="login.jpg" alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    <label><b> Select User Type:</b></label>
                    <label> 
                        <input type="radio" name = "userType" value = "farmer"> Farmer
                        </label>
                    <label>
                        <input type = "radio" name = "userType" value = "residence"> Residence
                    </label>
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" name="remember"> Remember me
                    </label>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <!-- Sign-Up Modal -->
        <div id="signupModal" class="modal">
            <span onclick="document.getElementById('signupModal').style.display='none'" class="close" title="Close Modal">&times;</span>
            <form class="modal-content animate" onsubmit="return handleSignUp(event)">
                <div class="imgcontainer">
                    <img src="login.jpg" alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    <label><b> Select User Type:</b></label>
                    <label> 
                        <input type="radio" name = "farmer" value = "farmer"> Farmer
                        </label>
                    <label>
                        <input type = "radio" name = "residences" value = ""> Residences 
                    </label>
                    <label for="newUser"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="newUser" required>

                    <label for="email"><b>Email</b></label>
                    <input type="email" placeholder="Enter Email" name="email" required>

                    <label for="newPsw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="newPsw" required>

                    <button type="submit">Sign Up</button>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('signupModal').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
        </div>

        <main>
            <h2> Our Mission</h2>
            <p>We want to solve the issue of poor sanitation in Johannesburg specifically in Makers Valley by providing a solution that will allow more people access to cleaner and safer toilets.
                While combatting the sewage issue, we also want to limit the chance of a cholera outbreak by using a composting toilet feature to produce fertiliser for plants.
                In addition to this it will use renewable energy to avoid the effects of load shedding.
            </p>
        </main>
        <!-- footer showing icons -->
        <footer>
            <p>&copy; Smart Toilets</p>
            <p>For any Queries Contact:</p>
            <div class="socials">
                <a href="https://facebook.com" target="_blank" class="fa-brands fa-facebook fa-2x"></a>
                <a href="https://twitter.com" target="_blank" class="fa-brands fa-twitter fa-2x"></a>
                <a href="https://instagram.com" target="_blank" class="fa-brands fa-instagram fa-2x"></a>
            </div>
        </footer>
    </div>

</body>
</html>


