<!DOCTYPE html>
<html>
<head>
    <title>Smart Toilet</title>
    <link rel="stylesheet" href="synoptic.css"> <!-- links CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src = "scripts/main.js"defer></script> 
	<script src = "scripts/index.js"defer></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>Smart Toilet</h1> <!-- title -->
            <a><i class="fa fa-bars" id="burger"></i></a> <!-- burger icon when tab is small -->
            </header>
            <nav class = "navBar">
                <ul class="showNav">
                    <li><a class = "active" href="index">Home</a></li>
                    <li> <a href="#" onclick="document.getElementById('signupModal').style.display='block'">Sign Up</a></li>
                    <li><a href="#" onclick="document.getElementById('login').style.display='block'">Login</a></li>
                    
                </ul>
            </nav>
        <!-- Login Modal -->
        <div id="login" class="modal">
            <span onclick="document.getElementById('login').style.display='none'" class="close" title="Close Modal">&times;</span>
            <form class="modal-content animate" onsubmit="return loginRedirect(event)">
                <div class="imgcontainer">
                    <img src="assets/login.jpg" alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <button type="submit">Login</button>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('login').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <!-- Sign-Up Modal -->
        <div id="signupModal" class="modal">
            <span onclick="document.getElementById('signupModal').style.display='none'" class="close" title="Close Modal">&times;</span>
            <form class="modal-content animate" onsubmit="return handleSignUp(event)">
                <div class="imgcontainer">
                    <img src="assets/login.jpg" alt="Avatar" class="avatar">
                </div>
                <div class="container">
                    <label><b> Select User Type:</b></label>
                    <label> 
                        <input type="radio" name = "newUserType" value = "farmer"> Farmer
                        </label>
                    <label>
                        <input type = "radio" name = "newUserType" value = "resident"> Resident
                    </label>
                    <label for="newUser"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="newUsername" required>

                    <label for="email"><b>Email</b></label>
                    <input type="email" placeholder="Enter Email" name="newEmail" required>

                    <label for="newPsw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="newPassword" required>

                    <button type="submit">Sign Up</button>
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('signupModal').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
        </div>
        <main>
    <div class="content-container">
        <div class="text-section">
            <h2>Our Mission</h2>
            <p>
                We want to solve the issue of poor sanitation in Johannesburg, specifically in Makers Valley, by providing a solution that gives more people access to cleaner and safer toilets.
                While combating the sewage issue, we also aim to limit the chance of a cholera outbreak by using a composting toilet feature to produce fertilizer for plants.
                Additionally, it will use renewable energy to operate independently of load shedding and ensure consistent functionality.
            </p>
        </div>

        <div class="divider"></div>

        <div class="image-section">
            <figure>
                <img src="assets/compositingToilet.webp" alt="Mission Illustration">
                <figcaption> Sustainable sanitation solution</figcaption>
            </figure>
        </div>
    </div>
</main>

        <!-- footer showing icons -->
        <footer>
            <p>&copy; Smart Toilets</p>
            <p>For any Queries Contact:</p>
            <div class="socials">
                <a href="https://facebook.com" target="_blank" class="fa-brands fa-facebook fa-2x"></a>
                <a href="https://twitter.com" target="_blank" class="fa-brands fa-twitter fa-2x"></a>
                <a href="https://instagram.com" target="_blank" class="fa-brands fa-instagram fa-2x"></a>
            </div>
        </footer>
    </div>

</body>
</html>
