<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="synoptic.css"> <!-- links css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> 
    </head>
    <body>
            <div id = "wrapper">
            <header>
                <h1>Smart Toilet</h1> <!-- title -->
                <a><i class = "fa fa-bars" id = "burger"></i></a> <!-- burger icon when tab is small -->
                </header>
                <nav>
                    <ul class = "showNav">
                        <li><a href="index.html">Home</a></li> <!--links all pages -->
                        <li><a href="ourGoal.html">Our Goal</a></li>
                        <li><a href = "report.html">Report an issue</a></li>
                        <!-- log out -->
                         <!-- data -->
                    </ul>
                </nav>
    <main>
        <p> Our goal is to target two sustainability problems by trying to solve sanitation and food production issues.
            This is going to be targetted by our project of Smart Toilets a public toilet block that compostes waste.
            These toilets will be locked and opened by the public decreasing the chance for vandilisation and unsheltered homelessness. 
            In addition farmers will be able to collect the fertilised soil and use it to increase the nutrients of their yeild.
            Hopefully with due time this will cut prices of food and help with the nutritional value. </p>
        
    </main>
    <footer>
    <p>&copy; Smart Toilets</p>
    <p>For any Queries Contact:</p>
    <div class="socials">
      <a href="https://facebook.com" target="_blank" class="fa-brands fa-facebook fa-2x"></a>
      <a href="https://twitter.com" target="_blank" class="fa-brands fa-twitter fa-2x"></a>
      <a href="https://instagram.com" target="_blank" class="fa-brands fa-instagram fa-2x"></a>
    </div>
    </footer>
    </body>
</html>