<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="synoptic.css"> <!-- links css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <script src = "synoptic.js"defer></script>  
    </head>
    <body>
            <div id = "wrapper">
            <header>
                <h1>Smart Toilet</h1> <!-- title -->
                <a><i class = "fa fa-bars" id = "burger"></i></a> <!-- burger icon when tab is small -->
                </header>
                <nav>
                    <ul class = "showNav">
                        <li><a href="welcomeR">Home</a></li> <!--links all pages -->
                        <li><a href="ourGoalR">Our Goal</a></li>
                        <li><a class = "active" href = "reportR">Report an issue</a></li>
                        <li><a href = "logout">Log Out</a></li>
                        <li><a href = "infoR">Information</a></li>
                    </ul>
                </nav>
            <main>
                <h2>Report Any Issues Here!</h2>
                <form>
                    <fieldset class="report-form">
                    <legend class = "title">Report Form</legend> <!-- sub heading -->
                    <label for="nameSubmitted">First name:</label>
                    <input id="nameSubmitted" class="textform" type="text" placeholder="Required">

                    <label for="surnameSubmitted">Surname:</label>
                    <input id="surnameSubmitted" class="textform" type="text" placeholder="Required">

                    <label for="emailSubmitted">Email:</label>
                    <input id="emailSubmitted" class="textform" type="text" placeholder="Required">

					<label for="blockAddress">Block Address:</label>
                    <input id="blockAddress" class="textform" type="text" placeholder="Required">

                    <label for="commentsSubmitted">Description:</label>
                    <textarea id="commentsSubmitted" class="textform"></textarea>

                    <input id="registerButton" class="submitButton" type="submit" value="Submit">
                    <p class="formPara">Please fill all required fields</p>

                    </fieldset>
                    </form>
                </section>
                <div>
            </main>
            <footer>
                <p>&copy; Smart Toilets</p>
                <p>For any Queries Contact:</p>
                    <div class="socials">
                        <a href="https://facebook.com" target="_blank" class="fa-brands fa-facebook fa-2x"></a>
                        <a href="https://twitter.com" target="_blank" class="fa-brands fa-twitter fa-2x"></a>
                        <a href="https://instagram.com" target="_blank" class="fa-brands fa-instagram fa-2x"></a>
                    </div>
            </footer>
    </body>
</html>
